@model Aluno

<form action="/alunos/excluirconfirmado?id=@Model.Id" method="post">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" readonly class="form-control" value="@Model.Nome" name="nome">
    </div>
    <div class="form-group">
        <label>E-mail</label>
        <input type="email" readonly class="form-control" value="@Model.Email" name="email">
    </div>
    <button type="submit" class="btn btn-danger">Excluir</button>
</form>